# Exclude the build directory
*/bin
*/obj
*/html
/packages
/.vs
 
# Exclude temp nibs, swap files and MonoDevelop user preferences
*~.nib
*.swp
*.userprefs
*.pidb
*.suo
*.user
 
# Exclude OS X folder attributes
.DS_Store
 

